* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --primary-color: #0d6efd;
  --secondary-color: #fd9c0d;
  --deep-primary-color: #0257d5;
}
body {
  background-color: #fff;
}
.logo {
  color: #fff;
  opacity: 50%;
}

.navbar-toggler-icon {
  color: #fff;
}
/* appended list section*/
.list-container {
  background-color: var(--primary-color);
}
.exp-list {
  color: #fff;
  opacity: 80%;
  padding-top: 15px;
}
input {
  margin: 10px 0;
  border: var(--primary-color) solid 2px;
  width: 250px;
  padding: 10px;
  border-radius: 5px;
}
/* Footer section */
.footer {
  text-align: center;
  padding: 15px 0;
  opacity: 50%;
  font-size: 12px;
  display: flex;
  justify-content: center;
  gap: 5px;
}
/* Signup Section */
.a-signin {
  text-align: center;
  opacity: 80%;
}
@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
  .container {
    background-color: var(--primary-color);
    height: 200px;
    color: #fff;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .navbar-toggler {
    color: #fff;
  }
  .nav-link {
    color: #fff;
    opacity: 50%;
  }
  .btns {
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .add {
    margin-bottom: 25px;
    margin-top: 25px;
    background-color: var(--secondary-color);
    color: #fff;
    width: 150px;
  }
  /* appended list */
  .exp-list-hr {
    color: #fff;
  }
  .add-exp-header {
    text-align: center;
    padding: 30px 0;
  }
  .list-container {
    width: 85%;
    margin: 0 auto;
    border-radius: 5px;
  }
  #expForm {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  /* Signup Section */
  .signup-heading {
    text-align: center;
    padding-top: 100px;
  }
  .signup-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
  }
  .signup-btn {
    width: 150px;
    padding: 8px 0;
    color: #fff;
    background-color: var(--secondary-color);
    border: none;
    border-radius: 10px;
  }
}
